{% load static %}

<!-- SUB HERO SECTION -->
<div id="sub-hero" class="bg-setup parallax main-bg-desktop main-bg-mobile mt-70">
  <div class="overlay"></div>
  <div class="sub-hero-content">
    <div class="sub-hero-title">
      <h3>HOME / ABOUT</h3>
    </div>
    <div class="sub-hero-text">
      <h1>About Smoothies</h1>
      <p>We want to help you feel energized and vibrant. You see, it’s possible to wake up with some pep in the morning and have
    the energy to “do it all” day. Unleash your inner rawkstar with our ah-mazing plant-based recipes, time-saving meal
    plans and cut-the-bs tools.</p>
    </div>
  </div>
</div>
<!-- END OF SUB HERO -->
